<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium WebDriver" verbose="1" parallel="methods" thread-count="4">

    <test name="Run on Firefox Browser">
        <classes>
            <class name="testng.Topic_12_Parallel_Method"/>
        </classes>
    </test>

</suite>